{% extends "base.html" %}

{% block title %}Alterar senha{% endblock %}

{% block content %}
		<!-- Start My Account Area -->
		<section class="my_account_area pt--80 pb--55 bg--white" style='margin-top: 10rem'>
			<div class="container">
				<div class="row">
                    <div class="col-lg-3 col-md-2 col-sm-12"></div>
					<div class="col-lg-6 col-md-8 col-sm-12">
						<h2>Redefinição de senha completa</h2>
                        <p>Sua nova senha foi definida. Você pode prosseguir e se <a href="{% url 'account_login' %}" style="color: #00afea">autenticar</a> agora.</p>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-12"></div>
				</div>
			</div>
		</section>
		<!-- End My Account Area -->
{% endblock %}
