{% extends "base.html" %}

{% block title %}Alterar senha{% endblock %}

{% block content %}
		<!-- Start My Account Area -->
		<section class="my_account_area pt--80 pb--55 bg--white" style='margin-top: 10rem'>
			<div class="container-fluid">
				<div class="row">
                    <div class="col-lg-4 col-md-2 col-sm-12"></div>
					<div class="col-lg-4 col-md-8 col-sm-12">
						<div class="my__account__wrapper">
							<h3 class="account__title">Redefinição de senha</h3>
							<form method="post" >
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-error">
                                        <ul>
                                            {% for field in form %}
                                                {% if field.errors %}
                                                    {% for error in field.errors %}
                                                        <li>{{ field.name }}</li>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                        {% if form.non_field_errors %}
                                            {{ form.non_field_errors }}
                                        {% endif %}
                                    </div>
                                {% endif %}
								<div class="account__form">
									<div class="form-group">
										{{ form.new_password1.label_tag }}
                                        {{ form.new_password1 }}
									</div>
									<div class="form-group">
										{{ form.new_password2.label_tag }}
                                        {{ form.new_password2 }}
									</div>
									<div class="form__btn">
										<button class="btn btn-primary " type="submit">Salvar</button>
									</div>
								</div>
							</form>
						</div>
					</div>
                    <div class="col-lg-4 col-md-2 col-sm-12"></div>
				</div>
			</div>
		</section>
		<!-- End My Account Area -->
{% endblock %}
