{% extends "base.html" %}
{% block title %}Alterar senha{% endblock %}

{% block content %}
		<!-- Start My Account Area -->
		<section class="my_account_area pt--80 pb--55 bg--white" style='margin-top: 10rem'>
			<div class="container-fluid ">
				<div class="row">
                    <div class="col-lg-3 col-md-2 col-sm-12"></div>
					<div class="col-lg-6 col-md-8 col-sm-12">
						<h2>Esqueceu a sua senha?</h2>
                        <p>Insira o seu endereço de e-mail abaixo, e lhe enviaremos um e-mail permitindo que a redefina.</p>
                        <form method="post" action="{{ action_url }}">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-error">
                                    <ul>
                                        {% for field in form %}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <li>{{ field.name }}</li>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    {% if form.non_field_errors %}
                                        {{ form.non_field_errors }}
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                </div>
                                <div class="mt-2">
                                    <button class="btn btn-primary" type="submit">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-12"></div>
				</div>
			</div>
		</section>
		<!-- End My Account Area -->
{% endblock %}
