{% extends "base.html" %}

{% block title %}Alterar senha{% endblock %}

{% block content %}

		<!-- Start My Account Area -->
		<section class="my_account_area pt--80 pb--55 bg--white" style='margin-top: 10rem'>
			<div class="container-fluid">
				<div class="row">
                    <div class="col-lg-3 col-md-2 col-sm-12"></div>
					<div class="col-lg-6 col-md-8 col-sm-12" style='margin-left: 12rem;'>
						<h2>Redefinição de senha enviada</h2>
                        <p>Nossa equipe te enviou um email com instruções para configurar sua senha, se uma conta existe com o email fornecido. Você receberá a mensagem em breve.</p>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-12"></div>
				</div>
			</div>
			<img src="/static/media/undraw_message_sent_1030.png" height="365" width="606" alt="" style='margin-top: -10em'>
		</section>
		<!-- End My Account Area -->
{% endblock %}
