<footer class=" footer-1 my-md-5 pt-md-5 border-top container">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">

          </div>

          <div class="links col-12 col-md">
            <ul class="footer-menu list-unstyled d-flex flex-row text-center text-md-left">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'account_signup' %}">Cadastro</a></li>
                <li><a href="{% url 'pricing' %}">Planos</a></li>
                <li><a href="#" target="_blank">Contatos</a></li>
            </ul>
          </div>
        </div>
  <div class="mt-5">
    <p class="small text-center">Desenvolvido por <a class="text-danger" href="https://github.com/feitosajoas" target="_blank"><strong>Joás Feitosa.</strong></a></p>
  </div>
</footer>

